
body{
  font-family: Helvetica, sans-serif;
}

@media(min-width:468px){

img {
  border-radius: 50%;
  width: 150px;
  margin-left: 12%;
  margin-bottom: 11%;
}

.container{
  display: inline-flex;
  flex: 1;
  border: 1px ;
  height: 95vh;
  width: 95vh;
  padding-right: 25%;
  padding-left: 25%;
  justify-content: center;
}


.column1{
  background-color: #f4f5ee;
  display: inline-flex;
  flex: 0.8;
  border: 1px ;
  flex-direction: column;
  width: 30px;
  height: 90vh;
  padding-top: 8%;
  padding-right: 2%;
  padding-left: 4%;
  padding-bottom: 250px;

  

}

.column2{
  display: inline-flex;
  flex: 2;
  border: 1px ;
  flex-direction: column;
  height: 75%;
  padding-top: 10%;
  padding-left: 4%;
  padding-right: -100%;
  text-align: justify;
}

h1{
  color: #585656;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 1.8rem;
  text-align: center;
  margin: 0px;	
  margin-top: 30px;

  }

h4{
  color: #585656;
  letter-spacing: 2px;
  line-height: 1.8rem;
  margin: 0px;
  text-align: center;
  padding-top: 8px;
  margin-bottom: 64px;
  }

.links{
  color: #585656;
  letter-spacing: 2px;
  line-height: 1.8rem;
  }

h5{
  letter-spacing: 2px;
  border-bottom: 2px solid #585656;
  line-height: 1.8rem;
  }

.title{
  font-size: 14px;
  font-weight: bold;
  line-height: 0mm; 

}


  /*
#cv{
  display: flex;
  background-color: lightblue;
  flex-direction: column;
  height: 100vh;
}

.name{
  color: white;
  background-color: rgb(155, 155, 155);
  text-align: center;
  padding: 5%;
}

.main-wrapper{
  background-color: white;
  flex: 1;
  display: flex;
}

.left{
  flex-basis: 30%;
  background-color: rgb(231, 229, 229);
  justify-content: left;

}

.main{
  flex: 1;
  padding-right: 4%;
  padding-left: 4%;
  padding-top: 2%;
  text-align: justify;
}

.border{
  border:1px white solid;
  padding:10px;
}


*/





}

