

.row{
    background-color: rgb(238, 243, 243);
    justify-content: center;
    padding-top: 50px;
}



img {
    border-radius: 50%;
    width: 150px;
  }


h1{
    color: #222222;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 1.8rem;
    text-align: center;
    margin: 0px;	
    margin-top: 30px;
  
    }


h4{
    color: #222222;
    letter-spacing: 2px;
    line-height: 1.8rem;
    margin: 0px;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 64px;
    }
  


h5{
    letter-spacing: 2px;
    border-bottom: 2px solid #222222;
    line-height: 1.8rem;
    padding-bottom: 10px;
    }
  
.p1{
    text-align: justify;
    padding-top: 20px;
}

.title{
    font-size: 14px;
    font-weight: bold;
    line-height: 0mm; 
    padding-top: 20px;
    padding-bottom: 10px;
  }

titleLeft{
    
}

li{
    padding-top: 15px;
}

